# --- generat la import pe GitHub ---
build/
.pio/
managed_components/
sdkconfig.old
Debug/
Release/
__pycache__/
*.pyc
*.log
*.exe
*.msi
*.whl
*.7z
*.zip
*.rar
*.backup

# gateware Radioberry (binar tert, nu se publica)
firmware/*/gateware_*.h
gateware/

# inregistrari IQ (mari)
iq_rec/
*.wav

# firmware compilat (contine gateware tert)
release/
*.uf2
